---
layout: archive
title: ""
permalink: /talks/
author_profile: true
---

- Discovering Conserved Quantities in Dynamical Systems Using Machine Learning Approach, Invited talk by at Guangdong Technion-Israel Institute of Technology, 2025.8

- Improving Infinitely Deep Bayesian Neural Networks with Nesterov’s Accelerated Gradient Method, 2026 3rd International Conference on Machine Learning and Intelligent Computing, 2026.4

<!-- {% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>


{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %} -->
